.line{
	width: 100%;
	position: relative;
	overflow: hidden;
	
	margin-top: 2.5%;
}
.line:after{
	content: '';
	display: block;
	margin-top: 30%;
}
.box1{
  width: 30%;
  height: 100%;
  position: absolute;
  background-color: yellow;
  margin-left: 2.5%;
  border-radius: 5%;
}
.box2{
  width: 30%;
  height: 100%;
  position: absolute;
  background-color: yellow;
  margin-left: 35%;
  border-radius: 5%;
 
}
.box3{
  width: 30%;
  height: 100%;
  position: absolute;
  background-color: yellow;
  margin-left: 67.5%;
  border-radius: 5%;
 }
 