html,body{
	margin: 0px;
	height: 100%;
	padding: 0px;
}

.nine_box{
	width: 100%;
	height: 100%;
	
	margin: auto 0;
}
.box{
	list-style:none;
	background-color: orange;
	width: 30%;
	padding: 15% 0;
	height: 0;
	margin: 1.6%;
	float: left;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
}
