#all{
	width: 640px;
	height: 1008px;
	
	margin-right: auto;
	margin-left: auto;
	background-color: #68cdd5;

}

#img1{
	padding-left: 34px;
	padding-top: 18px;
	
}
#img2{
	padding-left: 196px;
	padding-top:38px;
}
#footer{
	margin-top: 200px;
}
img{
	border: 1px ;
}
#booder{
	font-family: "Microsoft YaHei",微软雅黑;
	font-size: 32px;
	padding-left: 60px;
	padding-right: 60px;
	line-height: 60px;
	padding-top: 100px;
	letter-spacing: 3px;
	color: white;
}
#img3{
	padding-left: 90px;
}
#img4{
	padding-left: 200px;
}