*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
@media screen and (max-width: 400px)
{
	html{
	font-size: 40%;
	}
}
ul li{
	list-style-type: none;
}
img{
	max-width: 100%;
}
body{
	font-size: 2rem;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.container{
	width: 100%;
}
.header{
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: #5fc0cd;
	text-align: center;
	padding: 1rem 0;
	font-size: 0;
	color: white;
}
.header img{
	width: 4%;
	float: right;
	margin-right: 2.5%;
	margin-top: 4%;
}
.header button{
	line-height: 4rem;
	border-radius: 10px;
	display: inline-block;
	font-size: 2.8rem;
	background-color: #55a8b3;
}
.header button:hover{
	color: #5fc0cd;
	background-color: white;
}
.mark{
	text-align: center;
	background-color: white;
	padding :6rem 0 0 0;
}
.check{
	border:none;
	border-radius: 0;
	width: 100%;
	padding: 5% 0;
	font-size: 2.5rem;
	border: 1px solid gray;
}
.data{
	margin: 0;
	padding: 0;
}
.data img{
	width: 3%;
	margin-right: 3%;
}
.littlelist li{
	border:none;
	
}
.year{
	margin-left: 5%;
}
.time img{
	width: 6%;
	float: right;
	padding-right: 1%;
	padding-left: 1%;
	display: inline-block;
	vertical-align: middle;
}
.price{
	color: red;
	float: right;
}
.lastdata{
	padding-bottom: 15%;
	padding-left: 15px;
	
}
.footer{
	margin: 0 auto;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: #f8fafb;
	text-align: center;
	list-style-type: none;
}
.footerLeft img{
	width: 25%;
	margin-top: 5%;
}
.footerRight img{
	width: 25%;
	margin-top: 5%;
}
.footerCenter img{
	position: absolute;
	width: 22%;
	margin-left: -10%;
	margin-top: -15%;
}
.footerLeft{
	display: inline-block;
	vertical-align: middle;
}
.footerRight{
	display: inline-block;
	vertical-align: middle;
}
.footerCenter{
	position: relative;
	width: 0;
	background-color: #5fc0cd;
	padding: 25% ;
	border-radius: 50%;
	margin:1% auto;
	display: inline-block;
	vertical-align: middle;

}
.city{
	width: 100%;
	text-align: center;
}
